<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia">
	<meta name="description" content="Read the latest in movie reviews and articles">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="sub-wrapper">
					<h4>
						<a href="/blog" class="valign-wrapper">
							<i class="material-icons left mb-orange-text">book</i>
							blog
						</a>
					</h4>
					<br>
					<% articles.forEach((doc, key) => { %>
						<% let date1 = String(doc.date).split("G")[0]; %>
						<% let date2 = date1.substring(0, date1.length - 9); %>
						<% let articleId = doc.id; %>
						<% let link = "article/" + articleId %>
						
						<a href="<%-link%>">
							<div class="article">
								<div class="info-wrapper">
									<span><%=date2%> by <%=doc.author%></span>
								</div>
								<div class="title-wrapper"><%=doc.title%></div>
							</div>
						</a>
					<% }); %>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>
	
	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>