<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia">
	<meta name="description" content="Read the latest in movie reviews and articles">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<h3>
					<a href="/blog" class="valign-wrapper">
						<i class="material-icons left mb-green-text">book</i>
						blog
					</a>
				</h3>
				<% articles.forEach((doc, key) => { %>
					<div class="post">
						<% let date1 = String(doc.date).split("G")[0]; %>
						<% let date2 = date1.substring(0, date1.length - 9); %>
						<% let articleId = doc.id; %>
						<% let link = "article/" + articleId %>
						<p><a class="article-link"><%=date2%></a></p>
						<p>
							<span class="article-title">
								<a href=<%-link%>><%-doc.title%></a>
							</span> 
							by <span><%=doc.author%></span>
						</p>
						<p><%=doc.desc%></p>
						<p class="divider"></p>          
					</div>
				<% }); %>
			</div>
		</div>
	</main>

	<% include ./footer %>
	
	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>