<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | bomber</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="description" content="Play moviebomber and try to beat your high score!">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper col s12 m8 offset-m2 xl6 offset-xl3">
				<% include ./gameover %>
				<div id="board" class="gcontainer z-index-4">
					<div class="scontainer">
						<div class="sbox">
							<div class="icon">SCORE</div>
							<div class="stat text" id="score">0</div>
						</div>
						<div class="sbox">
							<div class="icon">LIVES</div>
							<div class="stat text" id="lives">6</div>
						</div>
					</div>
					<div id="nametag" class="ucontainer">
						<% if (user) { %>
							<h5><%-user.username%></h5>
							<span>Rank: <%-user.name%></span>
						<% } else { %>
							<h5>Player 1</h5>
							<span>Rank: Visitor <a href="/register">(uncredited)</a></span>
						<% } %>
					</div>
					<div id="prompts" class="pcontainer">
						<div class="pbox z-index-4">
							<div class="icon">
								<i id="face" class="material-icons">face</i>
								<i id="faceLoader" class="material-icons" style="display: none;">face</i>
							</div>
							<div class="text">
								<div class="prompt slide" id="prompt-a"></div>
								<div class="prompt slide" id="prompt-b"></div>
							</div>
						</div>
					</div>
					<br>
					<div class="bcontainer">
						<div class="buttons">
							<div class="bbox z-index-4">
								<div class="text button point"></div>
							</div>
							<br>
							<div class="bbox z-index-4">
								<div class="text button point"></div>
							</div>
							<br>
							<div class="bbox z-index-4">
								<div class="text button point"></div>
							</div>
							<br>
							<div class="bbox z-index-4">
								<div class="text button point"></div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<% include ./footer %>

	<script>
		let socketString = <%-JSON.stringify(socket)%>;
		let usernameString = <%-JSON.stringify(username)%>;
		let userIdString = <%-JSON.stringify(userId)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/bomber.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>