<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | <%-username%></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="col s12">
					<div class="profile-header mb-0">
						<div class="col s12 mt-1">
							<h5 id="username" class="cyan-text">
								{ <span class="grey-text">chat with <span data-friendId id="friend" class="friend"></span></span> }
							</h5>
						</div>
                    </div>

					<div id="container" class="container"></div>
					<div class="reply-container mt-3" class="mt-2">
						<div class="input-field col s8">
							<input id="message" type="text" maxlength="100"></textarea>
							<label for="message">Reply</label>
						</div>
						<div class="input-field col s2">
							<a id="send" class="btn cyan">Send</a>
						</div>
					</div>
                </div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		let socketString = <%-JSON.stringify(socket)%>;
		let usernameString = <%-JSON.stringify(username)%>;
		let userIdString = <%-JSON.stringify(userId)%>;
		let sid = <%-JSON.stringify(sid)%>;
	</script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/chat.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>