<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="description" content="Join the fastest growing online movie trivia and gaming community">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper col s12 m8 offset-m2 xl6 offset-xl3">
				<br>
				<h6>Welcome to moviebomber.org</h6>
				<br>
				<h4 class="valign-wrapper">
					<i class="material-icons left mb-orange-text">equalizer</i>
					site metrics
				</h4>
				<canvas id="myChart"></canvas>

				<br>
				<h4 class="valign-wrapper">
					<i class="material-icons left mb-orange-text">people</i>
					new users
				</h4>
				<% if (metrics.newUsers) { %>
					<% metrics.newUsers.forEach(u => { %>
						<p class="valign-wrapper newUser">
							<i class="material-icons left">exposure_plus_1</i>
							<a href="/@/<%-u%>"><%-u%></a>
						</p>
					<% }); %>
				<% } %>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
		const metrics = <%-JSON.stringify(metrics)%>;
	</script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/land.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>