<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="description" content="Join the fastest growing online movie trivia and gaming community">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper mt-3">
			<div class="content-wrapper col s12">
				<% include ./search %>
				<div class="row mb-3">
					<div class="col s12">
						<h5 id="username" class="cyan-text">
							{ <span class="grey-text">Blitz</span> }
						</h5>
						<p><span class="toggle-instructions point">New? Click here to learn how to play moviebomber</span></p>
						<div class="instructions">
							<p>This is the <b>quick pairing</b> area, also referred to as <i>Blitz</i></p>
							<p>The numbers on the tiles refers to the <b>number of questions</b> you'll need to answer in order to win.</p>
							<p>Both you and your opponent get a shot at answering correctly, so you need to <b>answer quickly!</b></p>
							<p>The tile labels refer to the <b>genre (or theme)</b> of the movies you'll see during the game.</p>
							<p>When you click on the game mode of your choice, a notification will appear to indicate that you are searching for a game.</p>
							<p>Simply close the pop-up to cancel your search.</p>
							<p>Once you're paired with another player you'll be <b>redirected</b> to your game.</p>
							<p>Good luck!</p>
						</div>
						<div class="button-container">
							<div 
								data-count="10" 
								data-mode="popular" 
								class="search point z-depth-2 waves-effect mr-1"
							>
								<div class="count cyan-text">10</div>
								<div class="mode grey-text">popular</div>
							</div>
							<div
								data-count="30"
								data-mode="popular"
								class="search point z-depth-2 waves-effect ml-1"
							>
								<div class="count amber-text">30</div>
								<div class="mode grey-text">popular</div>
							</div>
							<div
								data-count="10"
								data-mode="horror"
								class="search point z-depth-2 waves-effect mr-1"
							>
								<div class="count cyan-text">10</div>
								<div class="mode grey-text">horror</div>
							</div>
							<div
								data-count="30"
								data-mode="horror"
								class="search point z-depth-2 waves-effect ml-1"
							>
								<div class="count amber-text">30</div>
								<div class="mode grey-text">horror</div>
							</div>
							<div 
								data-count="10" 
								data-mode="90s" 
								class="search point z-depth-2 waves-effect mr-1"
							>
								<div class="count cyan-text">10</div>
								<div class="mode grey-text">90s Movies</div>
							</div>
							<div 
								data-count="30" 
								data-mode="90s"
								class="search point z-depth-2 waves-effect ml-1"
							>
								<div class="count amber-text">30</div>
								<div class="mode grey-text">90s movies</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col s12">
						<h5 id="username" class="amber-text">
							{ <span class="grey-text">Lobby</span> }
						</h5>
						<p>See who is looking for a game!</p>
						<div class="lobby-container">
							<table>
								<thead>
									<tr>
										<th>Player</th>
										<th>Rating</th>
										<th>Rank</th>
										<th>Mode</th>
									</tr>
								</thead>
								<tbody id="lobby"></tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<h5 id="username" class="purple-text">
							{ <span class="grey-text">New Users</span> }
						</h5>
						<div class="new-users-container">
							<% if (metrics && metrics.newUsers) { %>
								<% metrics.newUsers.forEach(u => { %>
									<p class="valign-wrapper newUser">
										<i class="material-icons left dark-icon">exposure_plus_1</i>
										<a href="/@/<%-u%>">[<%-u%>]</a>
									</p>
								<% }); %>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
		const metrics = <%-JSON.stringify(metrics)%>;
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/notify.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/land.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>