<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="description" content="Join the fastest growing online movie trivia and gaming community">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row mt-3">
			<div class="content-wrapper col s12 m8 offset-m2 xl6 offset-xl3">
				<br>
				<div id="searchModal" class="modal">
					<div class="modal-content">
						<h5 class="mb-2">Searching for a game...</h5>
						<div class="progress">
      						<div class="indeterminate"></div>
  						</div>
					</div>
					<div class="modal-footer">
						<a id="cancel" class="modal-close waves-effect waves-green btn-flat purple-text">Cancel</a>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col s12 m6">
						<a id="blitz" class="col s12 btn-large dark-light waves-effect">blitz</a>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col s12">
						<h5 class="valign-wrapper">
							<i class="material-icons left cyan-text">domain</i>
							Lobby
						</h5>
						<div class="lobby-container">
							<table>
								<thead>
									<tr>
										<th>Player</th>
										<th>Rating</th>
										<th>Rank</th>
										<th>Mode</th>
									</tr>
								</thead>
								<tbody id="lobby"></tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<h5 class="valign-wrapper">
							<i class="material-icons left cyan-text">people</i>
							New Users
						</h5>
						<div class="new-users-container">
							<% if (metrics && metrics.newUsers) { %>
								<% metrics.newUsers.forEach(u => { %>
									<p class="valign-wrapper newUser">
										<i class="material-icons left dark-icon">exposure_plus_1</i>
										<a href="/@/<%-u%>">[<%-u%>]</a>
									</p>
								<% }); %>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
		const metrics = <%-JSON.stringify(metrics)%>;
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/land.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>