<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | <%-username%></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<% if (!verified) { %>
			<div id="valert" class="row alert">
				<div class="content-wrapper">
					<p class="valign-wrapper">
						<i class="material-icons left alert-icon">close</i>
						Please check your inbox to verify your email address
					</p>
				</div>
			</div>
		<% } %>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="row">
					<div class="col s12">
						<h5 class="valign-wrapper">
							<i class="material-icons left mb-orange-text">settings</i>
							Account Preferences
						</h5>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col s12">
						<ul class="collapsible">
							<li>
								<div class="collapsible-header valign-wrapper">
									<i class="material-icons left">keyboard_arrow_down</i>
									<span class="mb-grey-blue-light-text"><%-username%></span>
								</div>
								<div class="collapsible-body">
									<p class="mb-grey-blue-light-text">You can only edit your username once, so choose wisely!</p>
									<div class="row">
										<div class="col s12">
											<input type="text" id="username" class="validate" minlength="5" maxlength="15" placeholder="Type a new username">
										</div>
										<div class="col s2">
											<br>
											<a id="editUsername" class="btn">submit</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<ul class="collapsible">
							<li>
								<div class="collapsible-header valign-wrapper">
									<i class="material-icons left">keyboard_arrow_down</i>
									<span class="mb-grey-blue-light-text"><%-email%></span>
								</div>
								<div class="collapsible-body">
									<p class="mb-grey-blue-light-text">Please enter a new email address and ensure that you have access to that account.</p>
									<div class="row">
										<div class="col s12">
											<input type="email" id="email" maxlength="40" placeholder="Type your email address">
										</div>
										<div class="col s2">
											<br>
											<a id="editEmail" class="btn">submit</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<ul class="collapsible">
							<li>
								<div class="collapsible-header valign-wrapper">
									<i class="material-icons left">keyboard_arrow_down</i>
									<span class="mb-grey-blue-light-text">Change Password</span>
								</div>
								<div class="collapsible-body">
									<p class="mb-grey-blue-light-text">Please complete the form below to change your password.</p>
									<div class="row">
										<div class="col s12">
											<input type="password" class="pw" id="cpass" placeholder="Type your current password">
										</div>
										<div class="col s12">
											<input type="password" class="pw" id="npass" placeholder="Type a new password">
										</div>
										<div class="col s12">
											<input type="password" class="pw" id="npassc" placeholder="Confirm your new password">
										</div>
										<div class="col s2">
											<br>
											<a class="btn" id="editPassword">Submit</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<ul class="collapsible">
							<li>
								<div class="collapsible-header valign-wrapper">
									<i class="material-icons left">highlight_off</i>
									<span class="mb-grey-blue-light-text">Delete Account</span>
								</div>
								<div class="collapsible-body">
									<p class="mb-grey-blue-light-text">Are you sure you want to delete your account? If you're sure, confirm by clicking the button below.</p>
									<a id="deleteAccount" class="btn mb-dark-red">Confirm</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		let socketString = <%-JSON.stringify(socket)%>;
		let usernameString = <%-JSON.stringify(username)%>;
		let userIdString = <%-JSON.stringify(userId)%>;
	</script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/preferences.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>