<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | <%-thisUser.username%></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="col s12">
					<div class="row">
						<div class="col s6">
							<span id="username" class="mb-orange-text bold"><%-thisUser.username%></span>
						</div>
					</div>
					<div class="row valign-wrapper line">
						<div class="col s4 m2">
							<span>Joined</span>
						</div>
						<div class="col s8 m10">
							<span id="dateJoined" class="data"><%-new Date(thisUser.created).toISOString().split('T')[0];%></span>
						</div>
					</div>

					<div class="row valign-wrapper line">
						<div class="col s4 m2">
							<span>Elo</span>
						</div>
						<div class="col s8 m4">
							<span id="rank" class="orange-text data"><%-thisUser.elo%></span>
						</div>
						<div class="col s8 m6"></div>
					</div>

					<div class="row valign-wrapper line">
						<div class="col s4 m2">
							<span>Rank</span>
						</div>
						<div class="col s8 m4">
							<span id="rank" class="orange-text data"><%-rank.rank.toUpperCase()%></span>
						</div>
						<div class="col s8 m6">
							<span class="progress-data">
								<%-rank.nextRank.toUpperCase()%> <%-games%>/<%-rank.nextFloor%>
							</span>
							
							<div class="progress">
								<div class="determinate" style="width: <%-rank.pct%>%"></div>
							</div>
						</div>
					</div>
	
					<!-- chart will go here -->
					
					<!-- game log will go here -->
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/profile.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>