<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | <%-thisUser.username%></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="col s12">
					<div class="row profile-header mb-0">
						<div class="col s6 mt-1">
							<h5 id="username" class="cyan-text bold" data-id="<%-thisUser.id%>">
								{ <span class="grey-text"><%-thisUser.username%></span> }
							</h5>
						</div>
						<% if (userId != thisUser.id) { %>
							<div class="col s12 mt-2 profile-action-buttons">
								<% if (isFollowing) { %>
									<a class="mr-1">following</a>
								<% } else { %>
									<a id="follow" class="point mr-1">follow</a>
								<% } %>
								<a id="message" class="point mr-1 modal-trigger" data-target="messageModal">message</a>
								<a id="challenge" class="point mr-1">challenge</a>
							</div>
						<% } else { %>
							<div class="col s12 mt-2 profile-action-buttons">
								<span class="grey-text">Welcome back, <%-username%></span>
							</div>
						<% } %>
					</div>
					<div id="messageModal" class="modal mt-2">
						<div class="modal-content">
							<h5 class="mb-2">Send a message</h5>
							<div class="row">
								<form class="col s12">
									<div class="row">
										<div class="input-field col s12">
											<textarea id="textarea1" class="materialize-textarea"></textarea>
											<label for="textarea1">Type a message..</label>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<a id="messageButton" class="btn modal-close purple">Submit</a>
							<a id="cancel" class="modal-close btn-flat grey-text">Cancel</a>
						</div>
					</div>
					<div class="row valign-wrapper line mb-0">
						<div class="col s4 m2">
							<span>Joined</span>
						</div>
						<div class="col s8 m4">
							<span id="dateJoined" class="data"><%-new Date(thisUser.created).toISOString().split('T')[0];%></span>
						</div>
						<div class="col s8 m6"></div>
					</div>

					<div class="row valign-wrapper line mb-0">
						<div class="col s4 m2">
							<span>Rating</span>
						</div>
						<div class="col s8 m4">
							<span id="rank" class="data"><%-thisUser.elo%></span>
						</div>
						<div class="col s8 m6"></div>
					</div>

					<div class="row valign-wrapper line mb-0">
						<div class="col s4 m2">
							<span>Rank</span>
						</div>
						<div class="col s8 m4">
							<span id="rank" class="data"><%-thisUser.rank.rank.toLowerCase()%></span>
						</div>
						<div class="col s8 m6">
							<span class="progress-data">
								<%-thisUser.rank.nextRank.toUpperCase()%> <%-thisUser.gamesPlayed%>/<%-thisUser.rank.nextFloor%>
							</span>
							
							<div class="progress">
								<div class="determinate" style="width: <%-thisUser.rank.pct%>%"></div>
							</div>
						</div>
					</div>

					<div class="row valign-wrapper line mb-0">
						<div class="col s4 m2">
							<span>Followers</span>
						</div>
						<div class="col s8 m4">
							<span id="followers" class="data">
								<a class="follow" href="/@/<%-thisUser.username%>/followers"><%-thisUser.followers.length%></a>
							</span>
						</div>
						<div class="col s8 m6"></div>
					</div>

					<div class="row valign-wrapper line mb-0">
						<div class="col s4 m2">
							<span>Following</span>
						</div>
						<div class="col s8 m4">
							<span id="following" class="data correct">
								<a class="follow" href="/@/<%-thisUser.username%>/following"><%-thisUser.following.length%></a>
							</span>
						</div>
						<div class="col s8 m6"></div>
					</div>

					<div class="row valign-wrapper profile-header mb-0">
						<div class="col s12">
							<h5 id="username" class="amber-text bold">
								{ <span class="grey-text">games</span> }
							</h5>
						</div>
					</div>
					<% if (thisUser.activeGame) { %>
						<div class="row valign-wrapper line mb-0">
							<div class="col s12">
								<% if (user && username == thisUser.username) { %>
									<a class="active-game valign-wrapper" href="/live/<%-thisUser.activeGame.room%>">
										<i class="material-icons left">brightness_1</i>
										Join Active Game
									</a>
								<% } else { %>
									<a class="active-game">1 Active Game</a>
								<% } %>
							</div>
						</div>
					<% } %>
					<div class="row valign-wrapper line">
						<div class="col s12">
							<table>
								<thead>
									<tr>
										<th>Played</th>
										<th>Mode</th>
										<th>Opponent</th>
										<th>Outcome</th>
									</tr>
								</thead>
								<tbody id="games">
									<% thisUser.games.forEach(game => { %>
										<tr id="<%-game.room%>">
											<td><%-game.date%></td>
											<td><%-game.mode%></td>
											<td><%-game.gameOpponent.username%></td>
											<td class="<%-game.userColor%>">
												<%-(game.winner) ? `Won [+${game.gameUser.new.points}]` : `Lost [${game.gameUser.new.points}]`%>
											</td>
										</tr>
									<% }); %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/profile.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>