<!DOCTYPE html>
<html lang="en">
<head>
	<% if (!username) { %>
		<title>moviebomber.org | user profile</title>
	<% } else { %>
		<title>moviebomber.org | <%-username%></title>
	<% } %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/loaders.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<br>
			<div class="content-wrapper col s12 m8 offset-m2 xl6 offset-xl3">
				<div class="row">
					<div class="col s6">
						<span id="username"><%-username%></span>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s8">
						<span class="title">Joined</span>
					</div>
					<div class="col s4">
						<span id="dateJoined" class="data"><%-new Date(user.created).toISOString().split('T')[0];%></span>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s8">
						<span class="title">Rank</span>
					</div>
					<div class="col s4">
						<span id="rank" class="data"><%-user.name.toUpperCase()%></span>
					</div>
				</div>

				<br><canvas id="userChart"></canvas><br>
				<h4>Games</h4>
				<table class="responsive-table">
        			<thead>
          				<tr>
              				<th>Score</th>
              				<th>Type</th>
							<th>Date</th>
							<th>Action</th>
          				</tr>
        			</thead>
					<tbody>
						<% if (games && games.length) { %>
							<% games[0].forEach(game => { %>
								<tr>
									<td><%-game.score%></td>
									<td><%-game.mode%></td>
									<td><%-new Date(game.created).toISOString().split('T')[0];%></td>
									<td><a href="/game/<%-game.sid%>">view</a></td>
								</tr>
							<% }); %>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
		const chart = <%-JSON.stringify(chart)%>;
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/profile.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>