<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | trivia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="robots" content="index,follow">
	<meta name="description" content="Classic mode is an arcade style trivia game, where user guesses the actor or actress that appears in the movie displayed.">
	<link rel="stylesheet" href="/css/loaders.css">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="/css/trivia.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper col s12">

				<div id="gameover" class="gameover row">
					<div class="col s12">
						<span class="go">game over</span>
					</div>
					<div class="col s12">
						<span class="go">score: <span id="finalScore"></span></span>
					</div>
					<div class="col s12">
						<p>
							<a id="restart" class="waves-effect waves-light btn">
								<i class="material-icons left">autorenew</i>play again
							</a>
						</p>
					</div>
				</div>

				<div id="gamebox" class="gamebox">
					<div class="stuff mb-3">
						<div class="scontainer">
							<div class="icon">SCORE</div>
							<div class="stat text" id="score"></div>
						</div>
						<div class="scontainer">
							<div class="icon">LIVES</div>
							<div class="stat text" id="lives"></div>
						</div>
					</div>

					<div class="movie-title mb-3">
						<div id="title" class="heavy"></div>
					</div>

					<div id="question" class="mb-3"></div>

					<div class="buttons">
						<div class="row">
							<div class="col s12 m6">
								<div id="a" class="button waves-effect z-depth point"></div>
							</div>
							<div class="col s12 m6">
								<div id="b" class="button waves-effect z-depth point"></div>
							</div>
							<div class="col s12 m6">
								<div id="c" class="button waves-effect z-depth point"></div>
							</div>
							<div class="col s12 m6">
								<div id="d" class="button waves-effect z-depth point"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
		const usernameString = <%-JSON.stringify(username)%>;
		const userIdString = <%-JSON.stringify(userId)%>;
		const questions = <%-JSON.stringify(questions)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/trivia.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>