<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | trivia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="description" content="An online arcade-style game with over 100 custom movie trivia questions">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper col s12 l8 offset-l2 xl6 offset-xl3">
					<% include ./gameover %>
					<div id="board" class="gcontainer">
						<% include ./stats %>
						<% include ./nametag %>
						<div class="row">
							<div class="col s12">
								<div class="row">
									<div class="col s12"><p id="question"></p></div>	
								</div>
							</div>
							<div class="col s12">
								<div class="row mb-0">
									<div class="col s12 butbox valign-wrapper"><div id="a" class="button waves-effect z-depth point"></div></div>
									<div class="col s12 butbox valign-wrapper"><div id="b" class="button waves-effect z-depth point"></div></div>
									<div class="col s12 butbox valign-wrapper"><div id="c" class="button waves-effect z-depth point"></div></div>
									<div class="col s12 butbox valign-wrapper"><div id="d" class="button waves-effect z-depth point"></div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		const socketString = <%-JSON.stringify(socket)%>;
		const usernameString = <%-JSON.stringify(username)%>;
		const userIdString = <%-JSON.stringify(userId)%>;
		const questions = <%-JSON.stringify(questions)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/trivia.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>